:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --pink-color: #e31b6d;
  /* Size */
  --side-padding: 12px;
  --avatar-size: 36px;
  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
  /* padding */
  --padding-small: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html,
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  /* padding: 0 10px; */
}

button {
  outline: none;
  /* box-shadow: none; */
  border: 1px solid var(--white-color);

  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  color: var(--white-color);
  background-color: #060e1b;

  /* hover: pointer; */
}

section {
  /* width: 100%; */
  padding: 0 10px;
  /* height: calc(100% - 50px); */
}

h1 {
  text-align: center;
  /* padding: 50px; */
  padding: 92px 0;
  font-size: 38px;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--black-color);
  color: var(--white-color);
  height: 50px;
  font-size: var(--font-large);
  position: sticky;
  top: 0;
}

.home {
  background: yellow;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.home .introduce {
  /* display: flex; */
  color: var(--white-color);
  text-align: center;
  line-height: var(--font-large);
}

.home .introduce .highlight {
  color: var(--pink-color);
}

.home button {
  margin-top: var(--side-padding);
  font-size: var(--font-larget);
}

.about {
  background: pink;
}

.about .feature {
  /* padding:  */
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  text-align: center;
}

.about .feature .title {
  font-size: 24px;
}

.about .feature .content {
  font-size: 12px;
}

.about .profile {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.about .profile .introduce {
  width: 40%;
  float: left;
  text-align: center;
}

.about .profile .stack {
  width: 40%;
  float: right;
}

.portfoilo {
  background: green;
}

.blog {
  background: blue;
}
